@model AppEase.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Job Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">

            @{
                var resumeWords = Model.Description.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                var firstTenWords = string.Join(" ", resumeWords.Take(10)) + " View More";
            }
            <span class="short-resume">@firstTenWords</span>
            <span class="full-resume" style="display:none;">@Model.Description View Less</span>

            <a href="javascript:void(0);" class="show-full-resume" onclick="toggleResume(this)">
                <img src="~/images/viewmore.png" alt="Show Full Resume" style="width:25px;height:25px;" />
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.Email)
        </dd>
    </dl>
</div>


<div>
    <form id="downloadForm" method="post" action="/cover-letter-download" target="_blank">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Title" value="@Model.Title" />
        <input type="hidden" name="CompanyName" value="@Model.CompanyName" />
        <input type="hidden" name="Description" value="@Model.Description" />
        <input type="hidden" name="ProfileId" value="@Model.ProfileId" />
        <button type="submit" class="animated-button">Download Cover Letter PDF</button>
    </form>
</div>

<div>
    <form id="downloadForm" method="post" action="/cover-letter" target="_blank">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Title" value="@Model.Title" />
        <input type="hidden" name="CompanyName" value="@Model.CompanyName" />
        <input type="hidden" name="Description" value="@Model.Description" />
        <input type="hidden" name="ProfileId" value="@Model.ProfileId" />
        <button type="submit" class="animated-button">View Cover Letter PDF</button>
    </form>
    <br />
</div>
@* <div>
    <button onclick="openDownloadPdf()">Download Cover Letter PDF</button>

    <script>
        function openDownloadPdf() {
            window.open('/cover-letter-download', '_blank');
        }
    </script>
</div> *@

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Profiles" asp-action="Details" asp-route-id="@Model?.ProfileId">Back to profile</a>
</div>

@section Scripts {
    <script>
        function toggleResume(element) {
            var shortResume = element.previousElementSibling.previousElementSibling;
            var fullResume = element.previousElementSibling;
            if (fullResume.style.display === "none") {
                fullResume.style.display = "inline";
                shortResume.style.display = "none";
            } else {
                fullResume.style.display = "none";
                shortResume.style.display = "inline";
            }
        }
    </script>
}

